@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap')

*
  padding: 0
  margin: 0;


body
html
  position fixed
  overflow hidden
  left 0
  top 0
  width 100%
  height 100%
  font-family 'Rajdhani', sans-serif
  color white

.test 
  position absolute
  width 100px
  height 100px
  background red
  z-index 1000

.container
  height 500px
  width 380px
  background rgba(0, 2, 62, 0.7)
  padding 40px
  position absolute
  top 10vh
  left 60vw
  .ficheName
    margin-bottom 16px
    h1
      font-size 46px
      font-family 'Rajdhani' sans-serif
      font-weight bold

    .subtitle
      font-weight bold
      font-size 17px
    .mercury-subtitle
      color #97979F
    .venus-subtitle
      color #DBA149
    .earth-subtitle
      color #5EA7C9
    .mars-subtitle
      color #C05A33
    .jupiter-subtitle
      color #E7C586
    .saturn-subtitle
      color #C4DCDA
    .uranus-subtitle
      color #BBE1E4
    .neptune-subtitle
      color #6081FF
    .sun-subtitle
      color #FFCC33

  .origins
    padding 10px
    width 300px
    h4
      font-size 20px
      font-weight bold
    p
      font-size 15px
  
  .general-info-container
    margin 0px 20px 20px 20px
    width 400px
    height 320px
    display flex
    flex-wrap wrap
    .general-info
      width 200px
      display flex
      align-items center
      .icons
        width 40px
        height 40px
        padding 10px
        border-radius 50%
      .mercury-icon
        background #97979F
      .venus-icon
        background #DBA149
      .earth-icon
        background #5EA7C9
      .mars-icon
        background #C05A33
      .jupiter-icon
        background #E7C586
      .saturn-icon
        background #C4DCDA
      .uranus-icon
        background #BBE1E4
      .neptune-icon
        background #6081FF
      .sun-icon
        background #FFCC33
      p
        font-size 15px
        padding-left 10px
        width 80px
.sun-info
  left 3vw

.is-hidden
  opacity 0

.exit-button 
  position absolute 
  background red
  width 100px
  height 100px
  left 50vw
  top 10vh