*
  padding: 0
  margin: 0;


  body
  html
    position fixed
    overflow hidden
    left 0
    top 0
    width 100%
    height 100%
    background #dddddd
    font-family: 'Rajdhani', sans-serif
    color #ffffff
  }

// Home    

.pop-up-background
    background #00034c
    position absolute
    display flex
    width 70vw
    height 70vh
    margin 15vh 15vw
    border-radius 1vw

.pop-up-background .pop-up-container h1
    position absolute
    margin 5vh 21vw 0 21vw
    font-size 8vw
    animation-name title-animation
    animation-duration 6s
    animation-iteration-count infinite

.pop-up-background .pop-up-container img
    width 30vw
    height 30vw
    margin -28vh 0 0 3vw
    animation-name img-animation
    animation-duration 4s
    animation-iteration-count infinite
    animation-timing-function ease-in-out

.pop-up-background .pop-up-container p 
    font-size 1.5vw
    width 25vw
    margin 30vh 0 0 35vw

.pop-up-background .pop-up-container .pop-up-button
    position absolute
    width 16.5vw
    height 3vw
    margin-top -20vh
    margin-left 35vw  
    border-radius 10vh
    border 0.3vh solid #ffffff

.pop-up-background .pop-up-container .pop-up-button:hover
    background-color #ffffff40
    cursor pointer

.pop-up-background .pop-up-container .pop-up-button .pop-up-button-content
    font-size 2vw
    margin 0.7vh 4.5vw 

.hidden-item
{
    visibility: hidden;
}

@keyframes title-animation
    0%
        font-size 8vw
    50%
        font-size 8.3vw
    100%
        font-size 8vw

@keyframes img-animation
    0%
        transform rotate(0deg)
    50%
        transform rotate(5deg)
    100%
        transform rotate(0deg)
    font-family 'Rajdhani' sans-serif
    color white


// Else
  .container
    height 500px
    width 350px
    background #00023E
    
    .ficheName
    position absolute

      h1
        font-size 58px
        font-family 'Rajdhani' sans-serif

      .subtitles
          color #97979F
          font-weight bold
          font-size 20px

    .origins
      position absolute

      h4
        font-size 20px

      p
        font-size 15px

